<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Startfish.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,1494},{71,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>sourceSize</key>
				<string>{71,72}</string>
			</dict>

			<key>Startfish2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1464},{111,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,112}}</string>
				<key>sourceSize</key>
				<string>{111,112}</string>
			</dict>

			<key>Startfish3.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,1385},{166,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,167}}</string>
				<key>sourceSize</key>
				<string>{166,167}</string>
			</dict>

			<key>completebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,862},{740,522}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{740,522}}</string>
				<key>sourceSize</key>
				<string>{740,522}</string>
			</dict>

			<key>effect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,1567},{4,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{4,11}}</string>
				<key>sourceSize</key>
				<string>{5,12}</string>
			</dict>

			<key>fishlife.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,1533},{52,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,42}}</string>
				<key>sourceSize</key>
				<string>{53,42}</string>
			</dict>

			<key>fishnum.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,0},{441,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,270}}</string>
				<key>sourceSize</key>
				<string>{441,270}</string>
			</dict>

			<key>gameoverbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,862},{700,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{700,480}}</string>
				<key>sourceSize</key>
				<string>{700,480}</string>
			</dict>

			<key>gobuy.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,1464},{82,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,29}}</string>
				<key>sourceSize</key>
				<string>{82,29}</string>
			</dict>

			<key>gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,1533},{50,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,42}}</string>
				<key>sourceSize</key>
				<string>{51,42}</string>
			</dict>

			<key>gold1.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1423},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>gold2.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,1538},{26,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{26,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>gold3.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,1533},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{20,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>gold4.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,1423},{7,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,0},{7,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>gold5.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1522},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{20,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>gold6.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,1454},{26,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{26,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>gold7.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,1423},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>gold8.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,1577},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{-2,-2},{1,1}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

			<key>howtoplay.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,431},{472,424}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{472,424}}</string>
				<key>sourceSize</key>
				<string>{472,424}</string>
			</dict>

			<key>howtoplayT.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1385},{230,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,37}}</string>
				<key>sourceSize</key>
				<string>{230,38}</string>
			</dict>

			<key>jellyfish1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,1343},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>jellyfish10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1434,665},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>jellyfish11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1434,271},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>jellyfish12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,862},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>jellyfish13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,1343},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>jellyfish14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,862},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>jellyfish15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1434,271},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>jellyfish16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1434,665},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>jellyfish17.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,1343},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>jellyfish18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1186,1343},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>jellyfish19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1317,1343},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>jellyfish2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,862},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>jellyfish20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1186,1343},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>jellyfish21.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,1343},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>jellyfish22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1434,665},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>jellyfish23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1434,271},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>jellyfish24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,862},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>jellyfish3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1434,271},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>jellyfish4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1434,665},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>jellyfish5.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,1343},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>jellyfish6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1186,1343},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>jellyfish7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1317,1343},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>jellyfish8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1186,1343},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>jellyfish9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1434,468},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>medal1.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,1385},{147,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,147}}</string>
				<key>sourceSize</key>
				<string>{147,147}</string>
			</dict>

			<key>medal2.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,1343},{182,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,206}}</string>
				<key>sourceSize</key>
				<string>{182,206}</string>
			</dict>

			<key>medal3.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,1494},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,43}}</string>
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>

			<key>medal4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,271},{63,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,69}}</string>
				<key>sourceSize</key>
				<string>{63,69}</string>
			</dict>

			<key>pausebg-ip5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1136,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1136,430}}</string>
				<key>sourceSize</key>
				<string>{1136,430}</string>
			</dict>

			<key>pausebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,431},{960,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{960,430}}</string>
				<key>sourceSize</key>
				<string>{960,430}</string>
			</dict>

			<key>progress.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1423},{150,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{150,40}}</string>
				<key>sourceSize</key>
				<string>{150,43}</string>
			</dict>

			<key>protect.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1533},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>

			<key>protectb.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,1385},{136,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{136,136}}</string>
				<key>sourceSize</key>
				<string>{136,136}</string>
			</dict>

			<key>water1.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,1553},{13,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,13}}</string>
				<key>sourceSize</key>
				<string>{13,13}</string>
			</dict>

			<key>water2.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,1567},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{11,11}}</string>
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>

			<key>water3.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,1569},{9,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,9}}</string>
				<key>sourceSize</key>
				<string>{9,9}</string>
			</dict>

			<key>water4.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,1569},{7,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{7,7}}</string>
				<key>sourceSize</key>
				<string>{7,7}</string>
			</dict>

			<key>water5.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,1567},{5,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,5}}</string>
				<key>sourceSize</key>
				<string>{5,5}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1579,1579}</string>
			<key>textureFileName</key>
			<string>Fishtales.png</string>
			</dict>
		</dict>
</plist>