<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Startfish.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,1606},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{70,70}}</string>
				<key>sourceSize</key>
				<string>{71,72}</string>
			</dict>

			<key>Startfish2.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,862},{108,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{108,106}}</string>
				<key>sourceSize</key>
				<string>{111,112}</string>
			</dict>

			<key>Startfish3.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,1524},{161,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,5},{161,157}}</string>
				<key>sourceSize</key>
				<string>{166,167}</string>
			</dict>

			<key>completebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1001},{740,522}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{740,522}}</string>
				<key>sourceSize</key>
				<string>{740,522}</string>
			</dict>

			<key>effect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,1666},{4,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{4,11}}</string>
				<key>sourceSize</key>
				<string>{5,12}</string>
			</dict>

			<key>fishlife.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1636},{52,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,42}}</string>
				<key>sourceSize</key>
				<string>{53,42}</string>
			</dict>

			<key>fishnum.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,0},{441,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,270}}</string>
				<key>sourceSize</key>
				<string>{441,270}</string>
			</dict>

			<key>fishtales.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,862},{832,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,17},{832,138}}</string>
				<key>sourceSize</key>
				<string>{890,163}</string>
			</dict>

			<key>gameoverbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,1001},{700,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{700,480}}</string>
				<key>sourceSize</key>
				<string>{700,480}</string>
			</dict>

			<key>gobuy.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1606},{82,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,29}}</string>
				<key>sourceSize</key>
				<string>{82,29}</string>
			</dict>

			<key>gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1562},{48,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{48,42}}</string>
				<key>sourceSize</key>
				<string>{51,42}</string>
			</dict>

			<key>gold1.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,1621},{30,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,21}}</string>
				<key>sourceSize</key>
				<string>{30,22}</string>
			</dict>

			<key>gold2.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,1598},{30,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,22}}</string>
				<key>sourceSize</key>
				<string>{30,22}</string>
			</dict>

			<key>gold3.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,1581},{30,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,16}}</string>
				<key>sourceSize</key>
				<string>{30,16}</string>
			</dict>

			<key>gold4.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,1562},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>gold5.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,1662},{30,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,18}}</string>
				<key>sourceSize</key>
				<string>{30,18}</string>
			</dict>

			<key>gold6.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,1648},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>gold7.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,1648},{30,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{30,26}}</string>
				<key>sourceSize</key>
				<string>{30,28}</string>
			</dict>

			<key>gold8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1679},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{-2,-2},{1,1}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

			<key>howtoplay.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,431},{472,423}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{472,423}}</string>
				<key>sourceSize</key>
				<string>{472,424}</string>
			</dict>

			<key>howtoplayT.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1524},{230,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,37}}</string>
				<key>sourceSize</key>
				<string>{230,38}</string>
			</dict>

			<key>jellyfish1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,990},{123,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{123,166}}</string>
				<key>sourceSize</key>
				<string>{130,182}</string>
			</dict>

			<key>jellyfish10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,1482},{132,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,163}}</string>
				<key>sourceSize</key>
				<string>{132,182}</string>
			</dict>

			<key>jellyfish11.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1482},{132,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,176}}</string>
				<key>sourceSize</key>
				<string>{132,180}</string>
			</dict>

			<key>jellyfish12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1434,271},{130,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,176}}</string>
				<key>sourceSize</key>
				<string>{130,178}</string>
			</dict>

			<key>jellyfish13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1434,271},{130,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,176}}</string>
				<key>sourceSize</key>
				<string>{130,178}</string>
			</dict>

			<key>jellyfish14.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1482},{132,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,176}}</string>
				<key>sourceSize</key>
				<string>{132,180}</string>
			</dict>

			<key>jellyfish15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,1482},{132,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,163}}</string>
				<key>sourceSize</key>
				<string>{132,182}</string>
			</dict>

			<key>jellyfish16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,1482},{132,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,164}}</string>
				<key>sourceSize</key>
				<string>{132,184}</string>
			</dict>

			<key>jellyfish17.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,1482},{132,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,177}}</string>
				<key>sourceSize</key>
				<string>{132,186}</string>
			</dict>

			<key>jellyfish18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1273,1482},{132,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,181}}</string>
				<key>sourceSize</key>
				<string>{132,188}</string>
			</dict>

			<key>jellyfish19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,1482},{130,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,176}}</string>
				<key>sourceSize</key>
				<string>{130,188}</string>
			</dict>

			<key>jellyfish2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1434,816},{123,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{123,173}}</string>
				<key>sourceSize</key>
				<string>{128,184}</string>
			</dict>

			<key>jellyfish20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1434,448},{128,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,181}}</string>
				<key>sourceSize</key>
				<string>{130,186}</string>
			</dict>

			<key>jellyfish21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1434,630},{127,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{127,185}}</string>
				<key>sourceSize</key>
				<string>{130,186}</string>
			</dict>

			<key>jellyfish22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,1157},{123,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,184}}</string>
				<key>sourceSize</key>
				<string>{128,184}</string>
			</dict>

			<key>jellyfish23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1434,816},{123,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{123,173}}</string>
				<key>sourceSize</key>
				<string>{128,184}</string>
			</dict>

			<key>jellyfish24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,990},{123,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{123,166}}</string>
				<key>sourceSize</key>
				<string>{130,182}</string>
			</dict>

			<key>jellyfish3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,1157},{123,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,184}}</string>
				<key>sourceSize</key>
				<string>{128,184}</string>
			</dict>

			<key>jellyfish4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1434,630},{127,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{127,185}}</string>
				<key>sourceSize</key>
				<string>{130,186}</string>
			</dict>

			<key>jellyfish5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1434,448},{128,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,181}}</string>
				<key>sourceSize</key>
				<string>{130,186}</string>
			</dict>

			<key>jellyfish6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,1482},{130,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,176}}</string>
				<key>sourceSize</key>
				<string>{130,188}</string>
			</dict>

			<key>jellyfish7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1273,1482},{132,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,181}}</string>
				<key>sourceSize</key>
				<string>{132,188}</string>
			</dict>

			<key>jellyfish8.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,1482},{132,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,177}}</string>
				<key>sourceSize</key>
				<string>{132,186}</string>
			</dict>

			<key>jellyfish9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,1482},{132,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,164}}</string>
				<key>sourceSize</key>
				<string>{132,184}</string>
			</dict>

			<key>medal1.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1524},{145,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{145,143}}</string>
				<key>sourceSize</key>
				<string>{147,147}</string>
			</dict>

			<key>medal2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1537,1342},{122,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{122,205}}</string>
				<key>sourceSize</key>
				<string>{126,206}</string>
			</dict>

			<key>medal3.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,1605},{43,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{43,42}}</string>
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>

			<key>medal4.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,1524},{42,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,69}}</string>
				<key>sourceSize</key>
				<string>{42,69}</string>
			</dict>

			<key>pausebg-ip5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1136,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1136,430}}</string>
				<key>sourceSize</key>
				<string>{1136,430}</string>
			</dict>

			<key>pausebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,431},{960,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{960,430}}</string>
				<key>sourceSize</key>
				<string>{960,430}</string>
			</dict>

			<key>progress.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1562},{150,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,43}}</string>
				<key>sourceSize</key>
				<string>{150,43}</string>
			</dict>

			<key>protect.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,1594},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>

			<key>protectb.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,1524},{136,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{136,137}}</string>
				<key>sourceSize</key>
				<string>{136,137}</string>
			</dict>

			<key>water1.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1668},{13,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,13}}</string>
				<key>sourceSize</key>
				<string>{13,13}</string>
			</dict>

			<key>water2.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,1636},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{11,11}}</string>
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>

			<key>water3.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,1648},{9,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,9}}</string>
				<key>sourceSize</key>
				<string>{9,9}</string>
			</dict>

			<key>water4.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,1658},{7,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{7,7}}</string>
				<key>sourceSize</key>
				<string>{7,7}</string>
			</dict>

			<key>water5.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,1666},{5,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,5}}</string>
				<key>sourceSize</key>
				<string>{5,5}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1660,1682}</string>
			<key>textureFileName</key>
			<string>Fishtales.png</string>
			</dict>
		</dict>
</plist>