<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_game.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{640,960}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{640,960}}</string>
				<key>sourceSize</key>
				<string>{640,960}</string>
			</dict>

			<key>bg_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,0},{640,960}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{640,960}}</string>
				<key>sourceSize</key>
				<string>{640,960}</string>
			</dict>

			<key>btn_binbell.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1181},{182,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{182,65}}</string>
				<key>sourceSize</key>
				<string>{183,67}</string>
			</dict>

			<key>btn_connect.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1201},{150,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,60}}</string>
				<key>sourceSize</key>
				<string>{150,60}</string>
			</dict>

			<key>btn_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,1080},{150,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,60}}</string>
				<key>sourceSize</key>
				<string>{150,60}</string>
			</dict>

			<key>btn_leaderboard.png</key>
			<dict>
				<key>frame</key>
				<string>{{1096,961},{128,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,100}}</string>
				<key>sourceSize</key>
				<string>{128,100}</string>
			</dict>

			<key>btn_like.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,1201},{150,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,60}}</string>
				<key>sourceSize</key>
				<string>{150,60}</string>
			</dict>

			<key>btn_logout.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1080},{150,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,60}}</string>
				<key>sourceSize</key>
				<string>{150,60}</string>
			</dict>

			<key>btn_play.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1080},{200,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,100}}</string>
				<key>sourceSize</key>
				<string>{200,100}</string>
			</dict>

			<key>btn_rate.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1141},{150,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,61}}</string>
				<key>sourceSize</key>
				<string>{150,61}</string>
			</dict>

			<key>btn_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1203},{150,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,60}}</string>
				<key>sourceSize</key>
				<string>{150,60}</string>
			</dict>

			<key>name_game.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,992},{535,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{535,208}}</string>
				<key>sourceSize</key>
				<string>{535,208}</string>
			</dict>

			<key>pipe.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,961},{640,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{640,30}}</string>
				<key>sourceSize</key>
				<string>{640,30}</string>
			</dict>

			<key>player.png</key>
			<dict>
				<key>frame</key>
				<string>{{1096,1062},{70,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,85}}</string>
				<key>sourceSize</key>
				<string>{70,85}</string>
			</dict>

			<key>text_best.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,1181},{167,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,55}}</string>
				<key>sourceSize</key>
				<string>{167,55}</string>
			</dict>

			<key>text_game_over.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,992},{559,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{559,87}}</string>
				<key>sourceSize</key>
				<string>{559,87}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1282,1264}</string>
			<key>textureFileName</key>
			<string>ui_game.png</string>
			</dict>
		</dict>
</plist>